node_modules
.env
coverage
coverage.json
typechain
.openzeppelin
#Hardhat files
cache
cache-zk
artifacts
artifacts-zk

#Compound
allFiredEvents
.build-temp
build
build_
node_modules
.env
.certora*
certora_*
coverage/
coverage.json
coverageEnv/
emv-*/
formulas/
outputs/
Reports/
scTopics
test-results.xml
.tsbuilt
yarn-error.log
scenario/build/webpack.js
.scencache
.solcache
.solcachecov
scenario/.tscache
script/certora
tests/scenarios/
tests/Scenarios/
junit.xml
.build
.last_confs
node_modules_tmp
.idea

secrets.json

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Build
dist
docs

contracts/oracle/*
contracts/generated
deployments/localhost

# OSX
.DS_Store
