name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FORK_MAINNET: ${{ secrets.FORK_MAINNET }}
      QUICK_NODE_KEY: ${{ secrets.QUICK_NODE_KEY }}
    steps:
      - uses: actions/checkout@v2
      - name: Clear
        run: docker container prune -f && docker image prune -f
      - name: 'Create env file'
        run: |
          touch .env
          echo FORK_MAINNET=${{ secrets.FORK_MAINNET }} >> .env
          echo QUICK_NODE_KEY=${{ secrets.QUICK_NODE_KEY }} >> .env
      - name: Build docker
        run: docker build -t isolated:${GITHUB_SHA::7} .
      - name: Run hardhat tests
        run: docker run --name ${GITHUB_SHA::7} isolated:${GITHUB_SHA::7} bash -c "yarn hardhat:compile && yarn hardhat:test"
      - name: Clear
        run: docker rm ${GITHUB_SHA::7}
      - name: Run compound tests
        run: docker run --name ${GITHUB_SHA::7} isolated:${GITHUB_SHA::7} bash -c "yarn test"
      - name: Clear
        run: docker rm ${GITHUB_SHA::7}
